<div class="movie-card" data-controller="movie-update" data-movie-update-target="card">
  <%= image_tag movie.image_url %>

  <div class="movie-infos" data-movie-update-target="info">
    <h2 title="<%= movie.title %> (<%= movie.year %>)">
      <%= movie.title %><small>(<%= movie.year %>)</small>
    </h2>
    <i class="fas fa-pen fa-xs ml-2" data-action="click->movie-update#showForm"></i>
  </div>

  <%= simple_form_for movie, html: { class: 'd-none' }, data: {movie_update_target: "form"} do |f| -%>
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.submit "Update movie", class: "btn btn-sm btn-primary btn-block mt-2", data: {action: "click->movie-update#submitForm"} %>
  <% end %>
</div>
asfasdfc